body{
    background-color: 	rgb(150, 192, 183);
}

.textLabels{
    color: rgb(35, 32, 32);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 300;
}

.getRoutes{
    background-color: rgb(22, 28, 44);
    border-color: rgb(135, 142, 136);
    color: whitesmoke;
}

.getRoutes:hover{
    background-color: rgb(127, 129, 135);
    border: rgb(254, 246, 201);
}

#map {
    height: 400px;
}
